[user]
	name = Qianqian Jiao
	email = qiqjiao@gmail.com
[merge]
	tool = vimdiff
[alias]
	br = branch --color
	co = checkout
	cp = cherry-pick
	di = diff
	ci = commit -a
	st = status
[github]
	user = qiqjiao
[core]
	editor = vim
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = https://github.com/qiqjiao/study
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
